<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymealproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashBoard2" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AutoDeals.AutoDeal" />
        <activity android:name=".AutoDeals.MakeDeal" />
        <activity android:name=".DashBoard1" />
        <activity android:name=".CustomerOrder.CustomerOrderFeedback" />
        <activity android:name=".RateDish" />
        <activity android:name=".AdminOrderManagement.OrderDetail" />
        <activity
            android:name=".AdminOrderManagement.AdminOrderStatus"
            android:label="@string/title_activity_admin_order_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CustomerOrder.OrderStatus" />
        <activity android:name=".Cart" />
        <activity android:name=".CustomerOrder.Orders" />
        <activity
            android:name=".AddRestaurant"
            android:label="@string/title_activity_add_restaurant" />
        <activity
            android:name=".Create"
            android:label="@string/title_activity_create" />
        <activity
            android:name=".OpenRestaurant.open_restaurant"
            android:label="@string/title_activity_open_restaurant" />
        <activity
            android:name=".DiscoverDishes.DiscoverDishes"
            android:label="@string/title_activity_discover_restaurant" />
        <activity android:name=".AdminOpenRestaurant.AdminOpenRestaurant" />
        <activity android:name=".Sign.SignUp" />
        <activity android:name=".AdminOpenRestaurant.addMenu" />
        <activity android:name=".Sign.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>